.signin-btn {
  background-color: #003fff !important;
  text-align: center !important;
  color: #eeeeee;
  width: 100%;
  height: 50px;
  box-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
  font-size: 16px;
  font-family: Roboto, arial, sans-serif;
  line-height: 48px;
  border: none;
  user-select: none;
  margin-top: 3%;
  float: "left";
  margin-top: "0";
  text-align: "center";
}

.signin-btn:hover {
  cursor: pointer;
}

.tab-content {
  input {
    color: white;
  }
}

.login-btn {
  background-color: #313131;
  border-radius: 7px;
  width: 150px;
  height: 50px;
}

.signup-btn {
  background-color: white;
  border-radius: 7px;
  width: 150px;
  height: 50px;
  border: solid 1px #313131;
  color: #313131;
  margin-left: 2rem;
}

.input-container {
  padding-top: 5%;
}

.form {
  padding-top: 20%;
}

.sign-out:hover {
  width: 100%;
  background-color: #eeeeee;
}
