.title-banner {
  background-color: #003fff;
  padding-left: 20%;
  padding-right: 20%;
  margin: 0 !important;

  h1 {
    font-size: 78px;
    color: #eeeeee;
    font-weight: bold;
    padding-top: 20%;
  }
  p {
    color: #eeeeee;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10%;
    padding-bottom: 5%;
    line-height: 1.75;
  }
}

.exp {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: #eaeaea;
  margin: 0 !important;

  h1 {
    font-size: 38px;
    font-weight: bold;
  }

  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8;
  }
}

.inspo {
  padding-top: 5%;
}

.insta-box {
  background-color: #003fff;
}

.insta-box {
  margin: 0 !important;
  width: 100%;
  height: 1080px;
  background-image: url("../../assets/backgroundcards.png");
  h1 {
    font-size: 50px;
    color: #eeeeee;
    font-weight: bold;
    padding: 35%;
    line-height: 0.3;
  }
}

@media only screen and (max-width: 600px) {
  .insta-box {
    width: 600px;
    height: 900px;
    background-image: url("https://via.placeholder.com/750x600/");
  }
}

.sk2r {
  background-color: #eaeaea;
  margin: 0 !important;
  padding: 5%;
  h1 {
    font-size: 58px;
    font-weight: bold;
    padding-top: 5%;
  }
  p {
    padding-right: 20%;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8;
    padding-bottom: 5%;
  }
}

.sk2r-video {
  width: "80%";
  height: "720px";
  display: "block";
  margin-left: "auto";
  margin-right: "auto";
}

.final {
  background-color: #0a0a0a;
  margin: 0 !important;
  padding-left: 5%;
  padding-top: 15%;
  h1 {
    color: #f4f4f4;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  h2 {
    color: #f4f4f4;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 30%;
    padding-bottom: 35%;
  }
  ul {
    li {
      font-size: 48px;
      font-weight: bold;
      color: #003fff;
    }
  }

  img {
    max-width: 100%;
  }
}

.mission {
  background-color: #0a0a0a;
  margin: 0 !important;
  h1 {
    color: #f4f4f4;
    font-size: 48px;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
  }

  h2 {
    color: #f4f4f4;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 30%;
    padding-bottom: 35%;
  }
}
