.nav-wrapper {
  margin: 2%;
}

nav {
  box-shadow: none;
}

.bucket {
  padding-right: 1rem;

  img {
    height: auto;
    width: 20px;
    float: right;
  }
  p {
    float: right;
  }
}

.logo-container {
  img {
    width: 105px;
    height: auto;
  }
}

.user-icon {
  li {
    display: inline;
  }
}

nav {
  background-color: transparent;
}

.profile-picture{
    border-radius: 40rem;
    height: auto;
    width: 45px;
    vertical-align: middle;
    margin-left: 1rem;
}

.sign-out{
    float:right;
}

.nav__submenu {
  display: none;
}

.profile-items:hover {
  .nav__submenu {
    display: block;
  }
}

.nav-addbucket{
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  vertical-align: middle;
}