.tools {
  margin: 5%;
}

.tools h1 {
  font-size: 20px;
}

.tools-header {
  border-bottom: 1px solid #aaa;
  margin-bottom: 5%;
}


.app-container{
  margin-left: 15%;
  margin-right: 15%;
}
@media  (max-width: 480px) {
  .app-container{
    margin:0;
  }
}