.btn-container {
  margin: 5%;
  background-color: #003FFF !important;
  text-align: center;
  .btn-flat{
    background-color: #EEEEEE !important;
    text-align: center !important;

  }
}

.tab-content{
  input{
    color:white;
  }
}

.login-btn {
  background-color: #313131;
  border-radius: 7px;
  width: 150px;
  height: 50px;
}

.signup-btn {
  background-color: white;
  border-radius: 7px;
  width: 150px;
  height: 50px;
  border: solid 1px #313131;
  color: #313131;
  margin-left: 2rem;
}

.input-container {
  padding-top: 5%;
}

.form {
  padding-top: 20%;
}

.sign-out:hover {
  width: 100%;
  background-color: #EEEEEE;
<<<<<<< HEAD
}
=======

}
>>>>>>> f315311d4995d49089f0ef9126c5eaf9b9fb2c93
