.form-container {
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  @media (max-width: 480px) {
    margin-left: 0%;
    margin-right: 0%;
  }
}

.input-field {
  label {
    @media (max-width: 480px) {
      font-size: 12px;
    }
  }
}

.edit-profile {
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 7%;
    @media (max-width: 480px) {
      font-size: 12px;
      padding: 2%;
    }
  }
}
.socials {
  h1 {
    font-size: 20px;
    @media (max-width: 480px) {
      font-size: 12px;
      padding: 2%;
    }
  }
  ul {
    margin: 0 !important;
  }
}

.prefix {
  img {
    width: 25px;
    height: auto;
  }
}

.action-buttons {
  float: right;

  button {
    margin-left: 2rem;
  }
}

.backarrow {
  width: 20px;
  height: 100%;
  margin-top: 2rem;
  @media (max-width: 480px) {
    width: 10px;
    height: auto;
  }
}

.social-icons-mobile {
  img {
    @media (max-width: 480px) {
      width: 20px;
      height: auto;
    }
  }
}
