.form-container{
    padding-left:30rem;
    padding-right:30rem;
}


.edit-profile{
    h1{
        font-size: 20px;
    }
}
.socials{
    h1{
        font-size: 20px;
    }
    ul {
        margin: 0 !important;
    }
}

.prefix {
    img{
        width: 25px;
        height:auto;
    }
}

.action-buttons{
    float: right;
    padding-bottom: 20rem;
    button{
        margin-left: 2rem;
    }
}