.left-area {
  background-color: #fcfbfb;
  height: 1100px;
  padding-left: 5% !important;
  padding-top: 10% !important;

  img {
    padding-top: 45%;
  }

  p {
    color: #262626;
    font-size: 1.3rem;
  }
}

.auth-area {
  padding: 5% !important;
  padding-top: 15% !important;
  background-color: #161616;
  height: 1100px;
}

.info-container {
  background-color: #262626;
  height: 920px;

  .info-image {
    padding: 5rem;
  }
}
.graph-container {
  background-color: #161616;
  padding-bottom: 15%;
  img {
    width: 1380px;
    max-width: 100%;
    height: auto;
    padding: 3%;
    display:block;
    margin:auto;
  }
  h2 {
    color: #ececec;
    font-size: 42px;
    font-weight: bold;
    line-height: 4rem;
    padding-top: 5rem;
    text-align: center;
  }

  p{
    text-align: center;
    color: #ececec;
    font-size: 20px;
    padding-left:15%;
    padding-right:15%;
  }
}

.content-container {
  margin-top: 0;
  .row {
    margin-bottom: 0;
  }
}

.info-container {
  padding: 5%;
  h2 {
    color: #ececec;
    font-size: 42px;
    font-weight: bold;
    line-height: 4rem;
    padding-top: 10rem;
  }
}

.logo {
  max-width: 100%;
  margin-top: 30%;
 
}


.signup-container{
  a {
    padding-left: 2%;
    cursor: pointer;
  }
}
.signin-container{
  a {
    padding-left: 2%;
    cursor: pointer;
  }
}
#blue {
  color:#0040ff
}


.video-mask{
  border-radius: 20px; 
  overflow: hidden; 
}


.footer-container{
  
}