h1 p {
  font-family: "Inter";
}
.render-col,
.sketch-col {
  h5 {
    font-size: 1.2rem;
  }
}

.sk2r-line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sk2r-line {
  }
}

.sk2r-render-container {
  width: 100%;
  height: 30rem;
  border: 1px solid #eee;
  border-width: 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .sk2r-render-image {
    max-width: 100%;
    max-height: 100%;
  }
}

.sk2r-sketch-container {
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border-width: 2px;

  .sk2r-sketch-image {
    max-width: 100%;
    max-height: 28rem;
  }
}

.sk2r-button-row {
  padding-top: 3rem;
}

.render-btn-container {
  padding: 0 !important;
}

.sk2r-button-submit {
  float: right;
  float: bottom;
  .ant-btn-primary {
    border-radius: 5px;
    background-color: #256afe;
  }
}

.sk2r-button-download {
  float: right;
  font-size: 200%;
}

.sk2r-button-download-container {
  padding: 0 !important;
  // margin-top: 10%;
}

.small-dropzone {
  height: 6rem;
  width: 6rem;
  padding: 0 !important;
  margin: 0 !important;
  cursor: pointer;
}

.sk2r-back-arrow {
  width: 20px;
  height: 100%;
  margin-top: 0;
  float: left;
  @media (max-width: 480px) {
    width: 20px;
    height: auto;
    margin-top: 0;
  }
}

.sk2r-image-thumbnail {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

.download-btn {
  font-size: 2rem;
  float: right;
}

.small-drop-box {
  max-height: 100% !important;
}
